.contacts {
  display: flex;
  flex-direction: column;

  margin: 0;
  margin-bottom: 40px;
}

.contacts__link {
  margin: 0;
  margin-bottom: 5px;
  padding: 0;

  color: $text-color;

  &:hover,
  &:focus {
    text-decoration: underline;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    margin-bottom: 0;
  }

  .contacts__link {
    font-size: 20px;
  }
}
