.languages {
  position: absolute;
  top: 35px;
  left: 50%;

  width: 250px;

  background-color: #ffffff;

  border-radius: 10px;

  transform: translateX(-50%);
}

.languages__list {
  @include reset-list;

  display: flex;
  flex-direction: column;

  padding: 20px;

  border: 4px solid #8f2796;
  border-radius: 10px;
}

.languages__item {
  display: flex;
  flex-direction: row;
  align-items: center;

  margin-bottom: 15px;

  &:last-child {
    margin-bottom: 0;
  }

  &--active .languages__image {
    border: 2px solid #00aeef;
    border-radius: 50%;
  }
}

.languages__image {
  margin-right: 10px;
}

.languages__close {
  position: absolute;
  top: 10px;
  right: 10px;

  width: 20px;
  height: 20px;

  border: none;
  cursor: pointer;

  &::before {
    content: "";

    position: absolute;
    top: 10px;
    left: 0;

    width: 20px;
    height: 2px;

    background-color: #000000;

    transform: rotate(45deg);
  }

  &::after {
    content: "";

    position: absolute;
    top: 10px;
    left: 0;

    width: 20px;
    height: 2px;

    background-color: #000000;

    transform: rotate(-45deg);
  }
}
